<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
<p>Audio-Datenbank</p>

<ul class="links">
      <li class="link">
        <span><%= links[0].name %></span>
        <span><%= links[0].link %></span>
      </li>
  </ul>
  
<form action="/links" method="POST">
    <input type="text" placeholder="Feedback" name="feedback">
    <button type="submit">Feedback senden</button>
  </form></body>
</html>
